<form action="/answer" method="get" data-turbo="false" class="m-3">

  <label for="askcoach" class="form-label">Ask your coach anything</label>
  <div class="row m-2">
  <input type="text" name="question" id="askcoach" class="col-sm-3">
  <input type="submit" value="Ask!" class="btn btn-primary w-auto rounded-0">
  </div>

</form>
